/*
#######################################################
FOOTER
#######################################################
*/
.footer{
    width: 100vw;
    padding: 3rem 5rem 3rem 2rem;
    margin-top: 2rem;

    background-color: var(--footer-background-color) ;
}

.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-content .lock{
    opacity: 0;
}

.footer-content :not(.lock){
    opacity: 1;
}


/*
#######################################################
FOOTER COPYRIGHT
#######################################################
*/
.copyright{
    font-size: 2rem;
    font-weight: 400;

    display: flex;
    align-items: center;

    color: var(--footer-focal-color);
}

.copyright span:last-child{
    color: var(--footer-primary-color); 
}


/*
#######################################################
FOOTER SOCIALS
#######################################################
*/
/*==== menu socials ====*/
.footer-socials{
    display: flex;
    justify-content: flex-end; 
}

.footer-socials li{
    line-height: 0;
}

.footer-socials svg{
    position: relative;
    width: 3rem ;
    margin: 0 1.5rem;
    color: var(--footer-focal-color);
    transition: color var(--footer-hover-duration);   
}

.footer-socials svg:hover{
    color: var(--footer-secondary-color);    
}
/*----------------------*/


/*
#######################################################
LARGE SCREENS
#######################################################
*/
/*==== more than 600px ====*/ 
@media only screen and (min-width: 600px) {  
    .footer-socials li:last-child svg{
        margin-right: 0;
    }
}
/*----------------------*/


/*
#######################################################
SMALL SCREENS
#######################################################
*/
/*==== less than 600px ====*/   
@media only screen and (max-width: 600px) {  
    /*==== footer / small screens ====*/ 
    .footer{
        padding: 3rem 0;
    }
    /*----------------------*/

    /*==== footer content / small screens ====*/    
    .footer-content{
        flex-direction: column;
        align-items: center;
    }
    /*----------------------*/

    /*==== footer socials / small screens ====*/   
    .footer-socials{
        margin-top: 2rem;        
        padding-top: 2rem; 

        border-top: var(--footer-bar-width) solid var(--footer-primary-color) ; 
    }
    /*----------------------*/
}
/*----------------------*/
