/*
#######################################################
STYLE
#######################################################
*/
/*==== grid ====*/
.work-grid{
    display: grid;
    padding: 0 var(--grid-side-padding);
    gap: var(--grid-between-padding);
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-card-medium),1fr));
    grid-auto-rows: var(--grid-card-medium);
}
/*----------------------*/

/*==== cards  ====*/
.flip-card{  
    position: relative;
}

.flip-card .front, .flip-card .back{
    position: absolute;
    width: 100%;
    height: 100%;

    display:flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    cursor: pointer;
}

.flip-card .back{
    background-color: var(--work-focal-color);
}
  
.flip-card .front{
    background: var(--grid-hide-color);    
}
/*----------------------*/


/*
#######################################################
CONTENT
#######################################################
*/
/*==== logo disc ====*/
.flip-card .front::before{
    content:"";
    background-color: var(--work-primary-color);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    border-radius: 50%;  
}
/*----------------------*/

/*==== logo ====*/
.flip-card .front svg{
    width: 70%;
    height: 100%;
    filter: grayscale(100%);
}
/*----------------------*/

/*==== text ====*/
.flip-card p{
    font-weight: 600;
    font-size: 4rem;
    color: var(--grid-text-color);
    cursor: text;
}

.flip-card a{
    font-weight: 400;
    font-size: 2rem;
    color: var(--work-primary-color);

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flip-card a span span{
    padding-left: 1rem;
}
/*----------------------*/

/*==== link / hover effect  ====*/
.flip-card a > span{
    position: relative;
    overflow: hidden;
}

.flip-card a > span::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    right: 100%;
    background: var(--work-primary-color);    
    transition: var(--grid-link-duration) var(--grid-link-delay) ease-out;
}

.flip-card a:hover > span::after{
    right: 0%;
    transition: var(--grid-link-duration) ease-in;
}

.flip-card a > span::before{
    content: '\2192';
    position: absolute;
    width: 100%;
    left: -100%;
    text-align: center; 
    background-color: var(--work-focal-color);
    z-index: 1;
    transition: var(--grid-link-duration) ease-in;
}

.flip-card a:hover > span::before{
    left: 0%;
    transition:var(--grid-link-duration) var(--grid-link-delay)  ease-out;
}
/*----------------------*/


/*
#######################################################
FLIP ANIMATION
#######################################################
*/
/*==== 3D Effect ====*/
.flip-card{  
    transform-style: preserve-3d;
    perspective: 1000px;
}

.flip-card .front, .flip-card .back{
    transform-style: preserve-3d;
    backface-visibility: hidden;
    animation-timing-function: cubic-bezier(0.4, 0.2, 0.2, 1);
}
/*----------------------*/

/*==== initialization ====*/
.flip-card .inner{
    transform: translateY(0) translateZ(100px) scale(0.8);
}
  
.flip-card .back{
    transform: rotateY(180deg);    
}
  
.flip-card .front{
    transform: rotateY(0deg);
}
/*----------------------*/

/*==== entrance ====*/
.flip-card.lock .front,
.flip-card.lock .back{
    opacity : 0;
}

.flip-card.init .back{
    opacity : 0;
}

.flip-card.init .front{
    animation: 
        cardEntrance var(--grid-entrance-duration) ease-out backwards;
}
/*----------------------*/

/*==== hover effect ====*/
/* hover out > hide disc */
.flip-card .front::before{
    width: 0;
    height: 0;  

    transition: var(--grid-hover-duration) ease-in;
    transition-property: width, height, opacity;
}

/* hover out > shrink card */
.flip-card:not(.lock,.init) .front{
    animation: zoomOut var(--grid-hover-duration) ease-out forwards;
}

/* hover > move card to forefront */
.flip-card:hover{
    z-index: 1;
}

/* hover > upscale card */
.flip-card:hover .front{
    background-color: var(--work-focal-color);
    box-shadow: 0px 0px 30px var(--work-shadow-color);
    animation: zoomIn var(--grid-hover-duration) ease-out forwards;
}

/* hover > extend logo disc */
/* cancel if switching to back position */
.flip-card:not(.toback):hover .front::before{
    width: calc(0.6*var(--grid-card-medium));
    height: calc(0.6*var(--grid-card-medium));
    opacity: 1;
    transition: var(--grid-hover-duration) ease-out;
}

/* hover > extend logo disc */
/* delay if switching to front position */
.flip-card.tofront:hover .front::before{
    transition-delay: 
        calc(var(--grid-anim-delay) + var(--grid-flip-duration));
}

/* hover > enable logo */
.flip-card:hover .front svg{
    filter: grayscale(0%);
}
/*----------------------*/

/*==== flip effect / to back ====*/
.flip-card.toback .front{
    animation: 
        hideFront 
        var(--grid-flip-duration) 
        calc(var(--grid-anim-delay) + var(--grid-hover-duration)) 
        forwards;
}

.flip-card.toback .back{
    animation: 
        showBack 
        var(--grid-flip-duration) 
        calc(var(--grid-anim-delay) + var(--grid-hover-duration)) 
        forwards;      
}
/*----------------------*/

/*==== flip effect / to back from ready ====*/
.flip-card.ready.toback .front{
    animation: 
        zoomOut var(--grid-hover-duration) ease-in forwards,
        hideFront 
        var(--grid-flip-duration) 
        calc(var(--grid-anim-delay) + var(--grid-hover-duration)) 
        forwards;
}

.flip-card.ready.toback .back{
    animation: 
        showBack 
        var(--grid-flip-duration) 
        calc(var(--grid-anim-delay) + var(--grid-hover-duration)) 
        forwards;     
}
/*----------------------*/

/*==== flip effect / to front ====*/
.flip-card.tofront .front{
    animation: showFront var(--grid-flip-duration) backwards;
}

.flip-card.tofront .back{
    animation: hideBack var(--grid-flip-duration) forwards;      
}
/*----------------------*/


/*
#######################################################
LARGE SCREENS
#######################################################
*/
@media only screen and (min-width: 1000px) {
    /*==== grid > large screen ====*/
    .work-grid{
        padding: 0 var(--grid-side-padding);
        gap: var(--grid-between-padding);
        grid-template-columns: repeat(auto-fit, minmax(var(--grid-card-large),1fr));
        grid-auto-rows: var(--grid-card-large);
    }
    /*----------------------*/

    /*==== cards > large screen ====*/
    .flip-card:not(.toback):hover .front::before{
        width: calc(0.6*var(--grid-card-large));;
        height: calc(0.6*var(--grid-card-large));;
    }

    .flip-card p{
        font-size: 5rem;
    }
    
    .flip-card a{
        font-size: 2.5rem;
    }
    /*----------------------*/
}


/*
#######################################################
SMALL SCREENS
#######################################################
*/
@media only screen and (max-width: 600px) {
    /*==== grid > small screen ====*/
    .work-grid{
        padding: 0 var(--grid-side-padding);
        gap: var(--grid-between-padding);
        grid-template-columns: repeat(auto-fit, minmax(var(--grid-card-small),1fr));
        grid-auto-rows: var(--grid-card-small);
    }
    /*----------------------*/

    /*==== cards > small screen ====*/
    .flip-card .front{
        background-color: var(--work-focal-color);
    }

    .flip-card .front svg{
        filter: grayscale(0%);
    }

    .flip-card:not(.toback):hover .front::before{
        width: calc(0.6*var(--grid-card-small));;
        height: calc(0.6*var(--grid-card-small));;
    }

    .flip-card p{
        font-size: 3rem;
    }
    
    .flip-card a{
        font-size: 1.5rem;
    }
    /*----------------------*/
}


/*
#######################################################
KEYFRAMES
#######################################################
*/
/*==== keyframes ====*/
@keyframes cardEntrance {
    from {
        opacity: 0;
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }    
}

@keyframes showBack {
    from {       
        transform: rotateY(180deg);       
    }
    to {
        transform: rotateY(0deg);
    }      
}

@keyframes hideBack {
    from {       
        transform: rotateY(0deg);       
    }
    to {
        transform: rotateY(180deg);
    }      
}

@keyframes showFront {
    from {       
        transform: rotateY(-180deg);       
    }
    to {
        transform: rotateY(0deg);
    }      
}

@keyframes hideFront {
    from {       
        transform: rotateY(0deg);       
    }
    to {
        transform: rotateY(-180deg);
    }      
}

@keyframes zoomOut {
    from {       
        transform: scale(1.05);     
    }
    to {
        transform: scale(1);
    }      
}

@keyframes zoomIn {
    from {       
        transform: scale(1);     
    }
    to {
        transform: scale(1.05);
    }      
}
/*----------------------*/