*{
    padding: 0;
    margin: 0;
    list-style: none;
    border-style: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

:root{
    /*main theme*/
    --main-bg-color: #1F242E;
    --main-text-color: #ffffff;
    --main-primary-color: #20DFDF;
    --main-secondary-color: #DF209F;
    --main-tertiary-color: #DF9E20;
    --main-quatenry-color: #20DF7F;
    --main-padding-left: 1rem;
    /*header theme */
    --header-padding-top : 1rem;
    --header-padding-right : 2rem;
    --header-element-size: 5rem;
    --header-toggle-speed: 0.5s;
    --header-bar-ratio: 0.05;
    --header-bar-space: 3;
    --header-bar-height: calc(var(--header-bar-ratio) * var(--header-element-size));
    --header-total-width: calc(var(--header-padding-top) + var(--header-element-size));
    /*menu theme*/
    --menu-bg-color: #430A30;
    --menu-text-color: #FFFFFF;
    --menu-primary-color: #861360;
    --menu-secondary-color: #633654;
    --menu-overlay-duration: 0.5s;
    --menu-reveal-duration: 0.5s;
    --menu-reveal-delay: 0.25s;
    --menu-scale-duration: 0.5s;
    --menu-scale-offset: 2.0s;
    --menu-scale-delay: 0.15s;    
    --menu-hover-duration: 0.3s;
    --menu-bar-width: 1px;
    /*home theme*/
    --home-stroke-size: 1.5px;
    --home-cursor-period: 0.7s;
    --home-reveal-duration: 0.3s;
    --home-reveal-delay: 0.1s;
    --home-underline-duration: 0.3s;
    --home-chevron-size: var(--header-element-size);
    --home-chevron-stroke: var(--header-bar-height);
}

html{
    /* set base unit to "10px" (not "16px") */
    font-size: 62.5%;
}

body{
    background: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}

a {
    color: inherit;
}