/*
#######################################################
MAIN
#######################################################
*/
*{
    padding: 0;
    margin: 0;
    list-style: none;
    border-style: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

html{
    /* set base unit to "10px" (not "16px") */
    font-size: 62.5%;
    /* add scroll snapping (add to body as well for Safari)
    https://css-tricks.com/practical-css-scroll-snapping/
    #example-3-vertical-full-screen */
    scroll-snap-type: y proximity;    
}

body{
    background: var(--main-background-color);
    color: var(--main-text-color);
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}

section, footer {
    scroll-snap-align: start;
}

a {
    display: block;
    color: inherit;
    height: 0%;
}


/*
#######################################################
SCROLLBAR
#######################################################
*/
/*==== works on Firefox ====*/
* {
    scrollbar-width: thin;
    scrollbar-color: var(--main-mediumdark-color) var(--main-lightdark-color);
}
/*----------------------*/
  
/*==== works on Chrome, Edge, and Safari ====*/
*::-webkit-scrollbar {
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background: var(--main-lightdark-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main-mediumdark-color);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-verydark-color);
}
/*----------------------*/