/*
#######################################################
MENU HEADER
#######################################################
*/
header{
    position: fixed;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    padding-top: 3vh;
    padding-right: 3.5vw;  

    z-index:100;
}


/*
#######################################################
MENU LOGO
#######################################################
*/
.logo svg{
    width: 4rem;
    height: 4rem;
    visibility: visible;
    transition-delay: 0.3s;
}

.logo.active svg{
    visibility: hidden;
    transition-delay: 0.0s;
}


/*
#######################################################
MENU PAGE
#######################################################
*/

/*==== overlay menu ====*/
.menu{
    transform : translateY(-100%);
    width: 100vw;
    position: fixed;
    background-color: var(--menu-bg-color);
    color: var(--menu-primary-color);   
    font-style: normal;
    font-weight: 400;
    transition: 0.5s cubic-bezier(0,.75,.33,.98);
    z-index: 100;
}

.menu.active{
    transform : translateY(0%);
}
/*----------------------*/

/*==== menu wrapper ====*/
.menu-page{
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
/*----------------------*/

/*==== menu items ====*/
.menu-content li{
    margin: 1rem 0;
    text-align: center;
    overflow: hidden;
}

.menu-content a{
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1ch;    
    line-height: 1.2em;   
}
/*----------------------*/

/*==== menu items/ text reveal ====*/
.menu.active a{
    animation: revealItem 0.5s;
    animation-fill-mode: backwards;  
}

.menu.active li:nth-child(1) a{ animation-delay: 0.5s; }
.menu.active li:nth-child(2) a{ animation-delay: 0.75s; }
.menu.active li:nth-child(3) a{ animation-delay: 1.0s; }
.menu.active li:nth-child(4) a{ animation-delay: 1.25s; }

@keyframes revealItem {
    from {       
        transform: translateY(150%);       
    }
    to {
        transform: translateY(0%);
    }    
}
/*----------------------*/


/*==== menu items/ over effect ====*/
.menu-content a:hover{
    color: var(--menu-text-color);
}

.menu-content a:before{
    content: attr(data-text);
    text-transform: uppercase;
    font-size: 12rem;
    letter-spacing: 2ch;

    position: absolute;
    /*top:50%; align vertically*/ 
    left:50%;  
    transform: translateX(-50%);

    font-style: italic;
    font-weight: 800;

    z-index: -1;
    opacity: 0;
    color:var(--menu-secondary-color);

    transition: 0.3s ease-in;
}

.menu-content a:hover:before{
    opacity: 1;
    letter-spacing: 0.2ch;
}
/*----------------------*/

/*==== menu social icons ====*/
.menu-socials svg{
    position: relative;
    width:30px;
    margin: 0 15px;
    transition: color 0.5s;   
}

.menu-socials svg:hover{
    color: var(--menu-text-color);       
    transition: color 0.5s;
}
/*----------------------*/


/*==== menu social / entrance effect ====*/
.menu.active .menu-socials svg{
    /*entrance*/
   animation: scaleEntrance 0.5s;
   animation-fill-mode: backwards;
}

.menu.active .menu-socials svg:nth-child(1) { animation-delay: 2.0s;}
.menu.active .menu-socials svg:nth-child(2) { animation-delay: 2.15s;}
.menu.active .menu-socials svg:nth-child(3) { animation-delay: 2.30s;}


@keyframes scaleEntrance {
   from {
       opacity: 0;
       transform: scale(0.1);
   }
   to {
       transform: scale(1);
   }    
}
/*----------------------*/


/*==== menu social / responsive layout ====*/
@media only screen and (min-width: 600px) {  
    .menu-socials{
        display: flex;
        justify-content: flex-end; 
    
        position: absolute;
        bottom: 5vh;
        right: 5vw;
    }
}


@media only screen and (max-width: 600px) {    
    .menu-socials{
        display: flex;
        justify-content: flex-end; 
        margin-top: 2rem;        
        padding-top: 1.2rem;
        position: relative;
        left: 3px;   
        
        border-top: 1px solid var(--menu-primary-color) ;
    }

    .menu.active .menu-socials{
        /*entrance*/
       animation: borderEntrance 0.1s;
       animation-delay: 2s;
       animation-fill-mode: backwards;
    }

    @keyframes borderEntrance {
        from {
            border-top: 1px solid var(--menu-bg-color) ;
        }
        to {
            border-top: 1px solid var(--menu-primary-color) ;
        }    
     }





}
/*----------------------*/

/*
#######################################################
MENU TOGGLE
#######################################################
*/

/*==== menu toggle ====*/
.menu-toggle{
    width: 4rem;
    height: 4rem;
    background: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-bar{
    width: 4rem;
    height: 0.3rem;
    border-radius: 0.15rem;
    position : relative;
    transform-origin: center;
}
/*----------------------*/


/*==== menu toggle colors ====*/
.menu-toggle:not(.active) .menu-bar{
    background-color: var(--main-text-color);
}

.menu-toggle.active .menu-bar{
    background-color: var(--menu-primary-color);
}

@media(hover: hover) and (pointer: fine) {
    .menu-toggle:not(.active):hover .menu-bar{
        background-color: var(--main-secondary-color);
    }

    .menu-toggle.active:hover .menu-bar{
        background-color: var(--menu-text-color);
    }
}
/*----------------------*/

/*==== menu toggle animation ====*/
.menu-bar{
    /*speed*/
    transition: all 0.5s ease;
}

.menu-bar.top{
    top: -0.75rem;
}
.menu-bar.bottom{
    top: +0.75rem;
}

.menu-toggle.active .top{    
    transform: translate(0,1.05rem) rotate(45deg);
}
.menu-toggle.active .bottom{    
    transform: translate(0,-1.05rem) rotate(-45deg);
}

.menu-toggle.active .middle{   
    opacity: 0; 
    transform: translate(-3rem,0px);
}
/*----------------------*/