/*
#######################################################
MENU PAGE
#######################################################
*/
/*==== overlay menu effect ====*/
.menu{
    transform : translateY(-100%);
    width: 100vw;
    position: fixed;
    background-color: var(--menu-background-color);
    color: var(--menu-primary-color);   
    font-style: normal;
    font-weight: 400;
    transition: var(--menu-overlay-duration);
    z-index: 100;
}

.menu.active{
    transform : translateY(0%);
}
/*----------------------*/

/*==== menu wrapper ====*/
.menu-page{
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
/*----------------------*/

/*==== menu items ====*/
.menu-content li{
    margin: 2rem 0;
    text-align: center;
    overflow: hidden;
}

.menu-content a{
    display: block;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.1ch;    
    line-height: 1.5em;   
}
/*----------------------*/

/*==== menu items/ text reveal ====*/
.menu.active a{
    animation: revealItem var(--menu-reveal-duration);
    animation-fill-mode: backwards;  
}

.menu.active li:nth-child(1) a{
    animation-delay: calc(var(--menu-reveal-duration) + (1 * var(--menu-reveal-delay))); 
}
.menu.active li:nth-child(2) a{
    animation-delay: calc(var(--menu-reveal-duration) + (2 * var(--menu-reveal-delay)));
}
.menu.active li:nth-child(3) a{ 
    animation-delay: calc(var(--menu-reveal-duration) + (3 * var(--menu-reveal-delay)));
}
.menu.active li:nth-child(4) a{ 
    animation-delay: calc(var(--menu-reveal-duration) + (4 * var(--menu-reveal-delay)));
}

@keyframes revealItem {
    from {       
        transform: translateY(150%);       
    }
    to {
        transform: translateY(0%);
    }    
}
/*----------------------*/

/*==== menu items/ over effect ====*/
.menu-content a:hover{
    color: var(--menu-focal-color);
}

.menu-content a:before{
    content: attr(data-text);
    text-transform: uppercase;
    font-size: 20rem;
    letter-spacing: 2ch;

    position: absolute;
    /*top:50%; align vertically*/ 
    left:50%;  
    transform: translateX(-50%);

    font-style: italic;
    font-weight: 800;

    z-index: -1;
    opacity: 0;
    color:var(--menu-secondary-color);

    transition: var(--menu-hover-duration) ease-in;
}

.menu-content a:hover:before{
    opacity: 1;
    letter-spacing: 0.2ch;
}
/*----------------------*/

/*==== menu content / small screens ====*/
@media only screen and (max-width: 600px) {      
    .menu-content a{
        font-size: 4rem; 
        line-height: 1.2em;   
    }

    .menu-content a:before{
        font-size: 9rem;
    }

    .menu-content a:hover:before{
        letter-spacing: 0.0ch;
    }
}
/*----------------------*/


/*
#######################################################
MENU SOCIALS
#######################################################
*/
/*==== menu socials ====*/
.menu-socials svg{
    position: relative;
    width: 3rem ;
    margin: 0 1.5rem;
    transition: color var(--menu-hover-delay);   
}

.menu-socials svg:hover{
    color: var(--menu-focal-color);       
}
/*----------------------*/

/*==== menu socials / entrance effect ====*/
.menu.active .menu-socials svg{
    /*entrance*/
   animation: scaleEntrance var(--menu-scale-duration);
   animation-fill-mode: backwards;
}

.menu.active .menu-socials a:nth-child(1) svg { 
    animation-delay: calc(var(--menu-scale-offset) + (1 * var(--menu-scale-delay))); 
}
.menu.active .menu-socials a:nth-child(2) svg{
    animation-delay: calc(var(--menu-scale-offset) + (2 * var(--menu-scale-delay)));
}
.menu.active .menu-socials a:nth-child(3) svg {
    animation-delay: calc(var(--menu-scale-offset) + (3 * var(--menu-scale-delay)));
}

@keyframes scaleEntrance {
   from {
       opacity: 0;
       transform: scale(0.1);
   }
   to {
       transform: scale(1);
   }    
}
/*----------------------*/

/*==== menu socials / large screens ====*/
@media only screen and (min-width: 600px) {  
    .menu-socials{
        display: flex;
        justify-content: flex-end; 
    
        position: absolute;
        bottom: 3rem;
        right: 3rem;
    }
}
/*----------------------*/

/*==== menu socials / small screens ====*/
@media only screen and (max-width: 600px) {    
    .menu-socials{
        display: flex;
        justify-content: flex-end; 
        margin-top: 3rem;        
        padding-top: 2rem; 
        
        border-top: var(--menu-bar-width) solid var(--menu-primary-color) ;
    }

    .menu.active .menu-socials{
        /*entrance*/
       animation: borderEntrance 0.0s;
       animation-delay: var(--menu-scale-offset);
       animation-fill-mode: backwards;
    }

    @keyframes borderEntrance {
        from {
            border-top: var(--menu-bar-width) solid var(--menu-background-color) ;
        }
        to {
            border-top: var(--menu-bar-width) solid var(--menu-primary-color) ;
        }    
     }
}
/*----------------------*/