/*
#######################################################
VARIABLES
#######################################################
*/
:root{
    /* colors */
    --main-background-color: hsl(220, 20%, 15%);
    --main-verydark-color: hsl(220, 20%, 05%);
    --main-mediumdark-color: hsl(220, 20%, 10%);
    --main-lightdark-color: hsl(220, 20%, 20%);
    --main-shadow-color: hsl(0,0%,0%);
    --main-focal-color: hsl(0, 0%, 100%);
    --main-primary-color: hsl(180, 75%, 50%);
    --main-secondary-color: hsl(320, 75%, 50%);
    --main-tertiary-color: hsl(40, 75%, 50%);
    --main-quatenry-color: hsl(150, 75%, 50%);
    /* margin and padding */
    --main-padding-left: 1rem;
    /* sizing */
    --main-stroke-width: 2.5px;
    --main-strip-height: 7rem;
}

header, nav {
    /*==== header ====*/
    /* colors */
    --header-background-color : var(--main-background-color);
    --header-shadow-color: var(--main-shadow-color);
    --header-focal-color: var(--main-focal-color);
    --header-secondary-color: var(--main-secondary-color); 
    /* margin and padding */
    --header-padding-horizontal : 2rem;
    --header-padding-vertical : 1rem;
    /* sizing */
    --header-element-size: 5rem;
    --header-bar-ratio: 0.05;
    --header-bar-space: 3; 
    --header-bar-height: var(--main-stroke-width);
    --header-total-height : var(--main-strip-height);
    /* animations */
    --header-toggle-speed: 0.5s; 
    /*----------------------*/

    /*==== menu ====*/
    /* colors */
    --menu-background-color: hsl(320, 75%, 15%);
    --menu-focal-color: hsl(0, 0%, 100%);
    --menu-primary-color: hsl(320, 75%, 30%);
    --menu-secondary-color: hsl(320, 30%, 30%);
    /* sizing */
    --menu-bar-width: 1px;
    /* animations */
    --menu-overlay-duration: 0.5s;
    --menu-reveal-duration: 0.5s;
    --menu-reveal-delay: 0.25s;
    --menu-scale-duration: 0.5s;
    --menu-scale-offset: 2.0s;
    --menu-scale-delay: 0.15s;    
    --menu-hover-duration: 0.3s;   
    /*----------------------*/ 
}

section.home {
    /* colors */
    --home-background-color: var(--main-background-color);
    --home-focal-color: var(--main-focal-color);
    --home-primary-color: var(--main-primary-color);
    --home-secondary-color: var(--main-secondary-color);
    /* margin and padding */
    --home-padding-left : 2rem;
    --home-padding-bottom: 0.3rem;
    /* fonts */
    --home-stroke-size: 1.5px;
    /* sizing */    
    --home-chevron-size: 5rem;
    --home-chevron-stroke: var(--main-stroke-width);
    /* animations */    
    --home-cursor-period: 0.7s;
    --home-reveal-duration: 0.3s;
    --home-reveal-delay: 0.1s;
    --home-underline-duration: 0.3s;    
}

section.work{
    /*==== work section ====*/
    /* colors */
    --work-background-color: var(--main-background-color);
    --work-shadow-color: var(--main-shadow-color);
    --work-focal-color: var(--main-focal-color);
    --work-primary-color: var(--main-primary-color);
    --work-secondary-color: var(--main-secondary-color);
    /* margin and padding */
    --work-padding-left: var(--main-padding-left);
    /* fonts */
    --work-stroke-size: 1.5px;
    /* animations */
    --work-reveal-duration: 0.3s;
    --work-reveal-delay: 0.1s;
    /*----------------------*/

    /*==== grid ====*/
    /* colors */
    --grid-hide-color: var(--main-lightdark-color);
    --grid-text-color: var(--main-background-color);
    /* margin and padding */
    --grid-side-padding: 1rem;
    --grid-bottom-padding: 5rem; 
    --grid-between-padding: 0.5rem;
    /* sizing */
    --grid-card-small: 15rem;
    --grid-card-medium: 20rem;
    --grid-card-large: 30rem;
    /* animations */
    --grid-link-duration: 0.2s;
    --grid-link-delay: 0.3s;
    --grid-entrance-duration: 0.5s;
    --grid-hover-duration: 0.3s;
    --grid-flip-duration: 0.5s;
    --grid-anim-delay: 0.1s;
    /*----------------------*/
}

footer{
    /* colors */
    --footer-background-color: var(--main-verydark-color);
    --footer-focal-color: var(--main-focal-color);
    --footer-primary-color: var(--main-primary-color);
    --footer-secondary-color: var(--main-secondary-color);
    /* sizes */
    --footer-bar-width: 1px; 
    /* animations */     
    --footer-hover-duration: 0.3s;
}