/*
#######################################################
BASIC
#######################################################
*/
/*==== style ====*/
.work h1{
    font-weight: 700;
    font-size: 8rem;
    color: var(--work-primary-color);
    padding-top: var(--main-strip-height);
    padding-bottom: 1.5rem;
}

.work h2{
    font-weight: 600;
    font-size: 4.5rem;
    padding-bottom: 1.5rem; 
}

.work h1, .work h2{
    padding-left: var(--work-padding-left);
}
/*----------------------*/

/*==== text reveal ====*/
.work h1, .work h2{
    overflow: hidden;
}

.work h1.lock, .work h2.lock{
    visibility: hidden;
}

.work h1:not(.lock) span, .work h2:not(.lock) span{
    display: inline-block;
    animation: revealWork var(--work-reveal-duration);
    animation-fill-mode: backwards;
}

.work h1 span{ 
    animation-delay: calc(1 * var(--work-reveal-delay)); 
}

.work h2 span:nth-child(1){ 
    animation-delay: calc(1 * var(--work-reveal-delay)); 
}
.work h2 span:nth-child(2){ 
    animation-delay: calc(2 * var(--work-reveal-delay)); 
}
.work h2 span:nth-child(3){ 
    animation-delay: calc(3 * var(--work-reveal-delay));
}
.work h2 span:nth-child(4){ 
    animation-delay: calc(4 * var(--work-reveal-delay));
}

@keyframes revealWork {
    from {       
        transform: translateY(150%);       
    }
    to {
        transform: translateY(0%);
    }    
}
/*----------------------*/


/*
#######################################################
HISTORY
#######################################################
*/
/*==== style ====*/
.history li{
    position: relative;
}

.history a{
    /*display: inline-block;*/
    font-weight: 800;
    font-size: 8rem;
    padding: 5rem var(--work-padding-left);
    /*https://css-tricks.com/adding-stroke-to-web-text/*/
    color: var(--work-background-color);
    text-shadow:
    calc(-1*var(--work-stroke-size)) calc(-1*var(--work-stroke-size)) 0 var(--work-focal-color),  
    var(--work-stroke-size) calc(-1*var(--work-stroke-size)) 0 var(--work-focal-color),
    calc(-1*var(--work-stroke-size)) var(--work-stroke-size) 0 var(--work-focal-color),
    var(--work-stroke-size) var(--work-stroke-size) 0 var(--work-focal-color);
}

.history img{
    display: none;
    position:fixed; 
}

.history a:hover{
    color: var(--work-secondary-color);
}

.history li:hover{
    z-index: 1;
}

.history li:hover img{
    display: block;
}
/*----------------------*/


/*
#######################################################
MEDIUM SCREENS
#######################################################
*/
@media only screen and (min-width: 600px) {
    /*==== img > medium screen ====*/
    .history li:last-child{
        text-align: right;
    }

    .history img{
        height : 50%;
    }
    /*----------------------*/
}


/*
#######################################################
SMALL SCREENS
#######################################################
*/
@media only screen and (max-width: 600px) {
    /*==== img > small screen ====*/
    .history a{
        font-size: 6rem;
    }

    .history img{
        width : 70%;
    }
    /*----------------------*/
}